node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example

Dockerfile
.dockerignore

.git
.gitignore

coverage
dist
out
logs
*.log
*.lcov
*.tgz
*.tsbuildinfo

.cache
.eslintcache
.DS_Store
.idea

*service-account*.json
*firebase-adminsdk*.json
